body {
  margin: 0;
  background-color: black;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  overflow: hidden;
  text-align: center;
  color: white;
}

canvas {
  z-index: -1;
  opacity: 0;
  animation: fadeIn 5s ease forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

#scorediv {
  z-index: 1;
  position: absolute;
  display: none;
  align-items: center;
  margin-left: 1em;
}
#score {
  padding-left: 0.5em;
}

.footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  justify-content: center;
  width: 100%;
}

.footer a {
  color: white;
}

.unmute {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  background-image: url(./resources/volume.svg);
  background-size: cover;
  width: 3em;
  height: 2.5em;
  cursor: pointer;
}

.mute {
  background-image: url(./resources/mute.svg);
}

.menu {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

#title {
  text-shadow: 0.5em 0 0.5em black, 0 0.5em 0.5em black, -0.5em 0 0.5em black,
    0 -0.5em 0.5em black;
}

.start-button {
  border: 2px solid #ffffff;
  height: 3em;
  width: 10em;
  border-radius: 5px;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loaded {
  cursor: pointer;
}
.loaded:hover,
.loaded:focus {
  -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
  -moz-box-shadow: 0px 0px 10px 0px #ffffff;
  box-shadow: 0px 0px 10px 0px #ffffff;
  text-shadow: 0px 0px 10px #ffffff;
  transition: 0.8s ease;
}

#start-button {
  transition: 0.8s ease;
  opacity: 0;
  animation: fadeIn 5s ease forwards;
}

#restart-button {
  transition: 0.8s ease;
}

#gameover {
  display: none;
}

#gameover-score-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#gameover-score {
  margin-left: 0.5em;
}
